:root {
    --big-text: #172b4d;
    --small-text: #344563;
    --btn-color: #396df2;
    --bg: #fff;
    --bg2: #6070ff;
    --font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header {
    background: var(--big-text);
    padding: 1rem 8%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

nav {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--bg);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

nav a:hover {
    background: var(--bg);
    color: var(--bg2);
    padding: 0 5px;
    border-radius: 4px;
}

main {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero-img-container {
    width: 100%;
    position: relative;
}

.hero-img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 15, 28, 0.6);
}

.hero h1 {
    position: absolute;
    color: var(--bg);
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    width: 74%;
    font-weight: 700;
    text-align: center;
}

.hero p {
    position: absolute;
    color: var(--bg);
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 74%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.hero a {
    position: absolute;
    top: 500px;
    color: var(--bg);
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    background-color: var(--big-text);
    border: 1px solid var(--bg);
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 400;
}

.hero a:hover {
    color: var(--big-text);
    background: var(--bg);
    border: 1px solid var(--btn-color);
}

.lawyer-section {
    margin: 2rem 0;
    background: var(--bg);
    padding: 3rem 2rem;
}

.lawyer-section h2 {
    text-align: center;
    color: var(--big-text);
    font-size: 2rem;
    padding: 3rem 0;
    font-weight: 600;
}

.lawyers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
}

.lawyers div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.lawyers img {
    width: 100%;
}

.lawyers h3 {
    font-size: 18px;
    padding: 1rem 0;
    color: var(--big-text);

}

.lawyers p {
    text-align: center;
    color: var(--small-text);
}

.about-section {
    background-color: #dbdbdb;    
}

.about-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-items div {
    background: var(--bg);
    width: 280px;
    margin-top: -100px;
    z-index: 1;
    padding: 1rem;
}

.about-items h3 {
    color: var(--big-text);
    font-size: 1.5rem;
}

.about-items p,
.about-items li {
    color: var(--small-text);
    font-size: 1rem;
}

.about-items ul {
    padding-left: 1.5rem;
}

.customers h2 {
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    color: var(--big-text);
}

.customers p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: var(--small-text);
    padding-bottom: 2rem;
}

.law-image {
    background: var(--btn-color);
    width: 100%;
    padding: 3rem 1rem;

}

.law-image div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.law-image figure {
    width: 300px;
}

.law-image img {
    width: 100%;
}

.question h2 {
    text-align: center;
    color: var(--big-text);
}

.faq-item {
width: 60%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px auto;
}

.faq-question {
    font-weight: bold;
    color: var(--big-text);
}

.faq-answer {
    display: none;
    margin-top: 5px;
    color: var(--big-text);
}

.question {
    background: var(--btn-color);
    padding: 3rem 0;
}

.contact {
    margin-bottom: 3rem;
}

.contact h1,
.contact h2 {
    color: var(--big-text);
}

.contact-address h1 {
    text-align: center;
    padding-top: 2rem;
}

.contact-address p {
    text-align: center;
    color: var(--small-text);
}

.contact-location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-top: 2rem;
}

iframe {
    height: 300px;
    width: 100%;
}

.message .box {
    display: flex;
    flex-direction: column;
    color: var(--big-text);
    padding: .5rem 0;
}

.box label {
    font-weight: 600;
}

.box input,
.box textarea {
    width: 100%;
    padding: 1rem;
    color: var(--small-text);
    border: 1px solid #344563;
    border-radius: 5px;
}

textarea {
    height: 100px;
    width: 100%;
}

.message-purpose h3 {
    color: var(--small-text);
    font-size: 16px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.msg-purpose label {
    display: block;
    color: var(--small-text);
}

.msg-purpose input {
    font-size: 16px;
}

.msg-purpose input[type="radio"] {
    margin-right: 5px;
}

.message input:required,
.message textarea:required {
    border-right: 8px solid red;
}

.message input:required:valid,
.message textarea:required:valid {
    border-right: 8px solid green;
}

.message input[type="submit"] {
    background: var(--btn-color);
    width: 100%;
    padding: 0.8rem 0;
    border: none;
    border-radius: 5px;
    color: var(--bg);
    font-weight: 600;
    font-size: 16px;
}

.message input:hover {
    background: var(--bg);
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
}

#menu {
    display: none;
}










footer {
    background: var(--big-text);
    padding: 1rem 0;
}

footer p {
    display: block;
    text-align: center;
    color: var(--bg);
    font-size: 16px;
}

.para{
    font-size: 13px;
}