:root {
    --big-text: #172b4d;
    --small-text: #344563;
    --btn-color: #396df2;
    --bg: #fff;
    --bg2: #6070ff;
    --font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header {
    background: var(--big-text);
    padding: 1rem 8%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 40px;
}

nav {
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--bg);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

nav a:hover {
    background: var(--bg);
    color: var(--bg2);
    padding: 0 5px;
    border-radius: 4px;
}

footer {
    background: var(--big-text);
    padding: 1rem 0;
    margin-top: 3rem;
}

footer p {
    display: block;
    text-align: center;
    color: var(--bg);
    font-size: 16px;
}

.para{
    font-size: 13px;
}