:root {
    --big-text: #172b4d;
    --small-text: #344563;
    --btn-color: #396df2;
    --bg: #fff;
    --bg2: #6070ff;
    --font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bg2);
    padding: 1rem 0;
}

main {
    max-width: 1040px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    padding: .5rem 0;
}

p {
    text-align: center;
}