header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    max-width: 1040px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}