:root {
    --big-text: #172b4d;
    --small-text: #344563;
    --btn-color: #396df2;
    --bg: #fff;
    --bg2: #6070ff;
    --font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
}

header {
    margin-bottom: 20px;
}

header span {
    display: block;
    text-align: center;
    background: var(--bg2);
    font-size: 20px;
    padding: 1rem 0;
    color: var(--bg);
    font-weight: 700;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #ebebff;
}

header nav a {
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 0;
    color: var(--bg2);
    font-weight: 500;   
}

header nav a:hover {
    color: var(--bg)
}

main {
    background: var(--bg);
    max-width: 1040px;
    margin: 0 auto;
}

h1 {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--big-text);
}

p {
    font-size: 1rem;
    color: var(--small-text);
    font-weight: 400;
}

.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 0 3%;
    gap: 20px;
}

.card {
    background: var(--bg);
    border: 1px solid var(--bg2);
    border-radius: 10px;
}

.card h2 {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    text-align: center;
    background: var(--bg2);
    padding: 0.5rem 0;
    border-radius: 10px 10px 0 0;
}

.card div {
    display: flex;
    margin: 15px;
    gap: 20px;
}

.me {
    width: 150px;
}

.card h1 {
    margin: -50px 15rem 2rem 2rem;
    border-bottom: 1px solid var(--btn-color);
    text-align: left;
    padding: 0 0 0.5rem 140px;

}

.card-sub2 {
    align-items: center;
    width: 70%;
}

.flag {
    width: 100px;
}

figcaption {
    font-family: var(--font);
    color: var(--small-text);
    font-style: italic;
    text-align: center;
    font-size: .8rem;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    height: 350px;
}

li {
    font-size: 1rem;
    color: var(--small-text);
    padding: .3rem 0;
}

li::marker {
   font-size: 15px;
}

footer {
    background: var(--bg2);
    padding: 1rem 0;
    margin-top: 20px;
}

footer p {
    display: block;
    text-align: center;
}

.para1 {
    color: var(--bg);
    font-size: 16px;
}

.para2{
    color: rgb(251, 251, 6);
    font-size: 13px;
}
