:root {
    --big-text: #172b4d;
    --small-text: #344563;
    --btn-color: #396df2;
    --bg: #fff;
    --bg2: #6070ff;
    --font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-size: 1rem;
}

h1 {
    background: var(--big-text);
    color: var(--bg);
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

main {
    max-width: 1040px;
    margin: 0 auto;
    background: var(--bg2);
    padding: 3rem 0;
}

.rev-form {
    width: 60%;
    background: var(--bg);
    padding: 1rem 4%;
    margin: 0 auto;
    border-radius: 5px; 
}
.rev-form label {
    display: block;
    color: var(--btn-color);
   font-size: 1rem;
}

.label-set {
   padding: 0.5rem 0;
    margin: .5rem 0;
}

.rev-form input[type="text"],
.rev-form input[type="date"],
.rev-form textarea,
.rev-form select {
    display: block;
    border: 2px solid var(--bg2);
    width: 100%;
    padding: 1rem .5rem;
    margin-top: 5px;
}

.rev-form div {
    color: var(--btn-color);
}

.rev-form input[type="checkbox"] {
    margin-right: 5px;
}

.rattings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.check-items {
    padding: .2rem 0;
}

.check-tag {
    font-style: italic;
    padding-bottom: 5px;
}

span {
    font-style: italic;
}

.rev-form input[type="submit"] {
    width: 100%;
    padding: .8rem 0;
    color: var(--bg);
    background-color: var(--btn-color);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

footer {
    background: var(--big-text);
    padding: 1rem 0;
    margin-top: 3rem;
}

footer p {
    display: block;
    text-align: center;
    color: var(--bg);
    font-size: 16px;
}

.para{
    font-size: 13px;
}

@media (max-width: 700px) {
    .rev-form {
        width: 90%;
    }
}
