:root {
    --big-text: #172b4d;
    --small-text: #344563;
    --btn-color: #396df2;
    --bg: #fff;
    --bg2: #6070ff;
    --font: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1040px;
    margin: 0 auto;
    background: var(--bg2);
    padding: 3rem 0;
}

.rev-form {
    width: 60%;
    background: var(--bg);
    padding: 1rem 4%;
    margin: 0 auto;  
}
.rev-form label {
    display: block;
    padding: .5rem 0;
    color: var(--btn-color);
    font-size: 1rem;
}

.rev-form input[type="text"],
.rev-form input[type="date"],
.rev-form textarea,
.rev-form select {
    display: block;
    border: 2px solid var(--bg2);
    width: 100%;
    padding: 1rem .5rem;
    margin-top: 5px;
}

.rattings {
    display: flex;
}