@media (min-width: 600px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        align-items: center;
    }

    header span {
        font-size: 18px;
        margin-left: 3rem;
    }

    nav {
        background: none;
        width: 100%;
    }


    .navigation {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .navigation li {
        flex: 1 1 100%;
    }

    .navigation a{
        padding: 0.5rem;
        margin: 0;
        display: block;
    }

    #menu {
        display: none;
    }

    main {
        max-width: 1140px;
        padding: 0 3%;
        margin: 0 auto;
    }

    main div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;

    }

    figure {
        margin: 0.5rem 0;
    }
    
}